{% extends 'base.html' %}
{% block title %}Nuevo Médico{% endblock %}
{% block content %}

<h2 class="mb-3"><i class="bi bi-person-badge"></i> Registrar Médico</h2>
<div class="card shadow-sm" style="max-width:500px;">
  <div class="card-body">
    <form action="{{ url_for('medico.create') }}" method="post">
      <div class="mb-3">
        <label class="form-label">Nombre</label>
        <input type="text" name="nombre" class="form-control" required>
      </div>
      <div class="mb-3">
        <label class="form-label">Especialidad</label>
        <input type="text" name="especialidad" class="form-control" required>
      </div>
      <div class="mb-3">
        <label class="form-label">Teléfono</label>
        <input type="text" name="telefono" class="form-control" required>
      </div>
      <div class="mb-3">
        <label class="form-label">Correo</label>
        <input type="email" name="correo" class="form-control" required>
      </div>
      <button type="submit" class="btn btn-primary">Guardar</button>
      <a href="{{ url_for('medico.index') }}" class="btn btn-secondary ms-2">Cancelar</a>
    </form>
  </div>
</div>

{% endblock %}
